html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Staatliches", sans-serif;
}

.sidebar {
    grid-area: sidebar;
    background-color: #F9EFE6;
    overflow-y: auto;
}

.map {
    grid-area: map;
}

.tray {
    background-color: #F9EFE6;
    grid-area: tray;
    overflow-y: auto;
}

.tray-container {
    width: 100%;
}

.tray-content {
    background-color:#F9EFE6;
    border: none;
    border-radius: 0;
}

.wrapper {
    display: grid;
    grid-template-rows: 25% auto 0px;
    grid-template-areas: "sidebar" "map" "tray";
    width: 100vw;
    height: 100vh;
}

.box {
    color: #121212;
    padding: 10px;
    font-size: 20px;
}

@media only screen and (min-width: 544px) {
    .wrapper {
        grid-template-columns: minmax(300px, 25%) auto;
        grid-template-rows: auto 0px;
        grid-template-areas: "sidebar  map"
                             "sidebar  tray";
    }
}

#map {
    height: 100%;
    width: 100%;
}

.accordion-button {
    background-color: #fefcfb;
}